<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container">
    <a href="/"><img src="{{ url_for('static', filename='image/logo.png') }}" align="left"></a>
    <a class="navbar-brand" href="/">Не-мамкай!</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/home">Главная</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/all_posts">Статьи</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">О сайте</a>
        </li>
        {% if current_user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="/user_recipe">Рецепты пользователей</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/account">Профиль</a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="/user_recipe">Рецепты пользователей</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/user/user_reg">Зарегистрироваться</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/user/login">Вход</a>
          </li>
        {% endif %}
      </ul>
      <form method="POST" action="{{ url_for('search') }}" class="d-flex" role="search">
        {{ form.hidden_tag() }}
        <input class="form-control me-2" type="search" placeholder="Поиск рецептов" aria-label="Search" name="searched">
        <button class="btn btn-outline-secondary" type="submit">Поиск</button>
      </form>
    </div>
  </div>
</nav>