{% extends 'base.html' %}

{% block title %}

{% endblock %}

{% block body %}
<div class="container">
    <div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">😋 Готовим себе и малышу</h1>
    <div class="col-lg-8 mx-auto">
        <p class="lead mb-4">Когда начинаешь готовить прикорм малышу, нередко забываешь про себя. А ведь мама также нуждается в витаминах и минералах, а также в достаточном количестве белков, жиров и углеводов в нее рационе.
        <br><br> Если готовить малышу, а потом себе - можно вообще целый день простоять у плиты. Тогда хорошей привычкой станет есть то, что ест твой малыш.
        <br><br> Да-да, те самые брокколи, кабачки и т.д. Все это можно вкусно подать, да так, что потом за уши не оттащишь. Давайте разберем на примерах.
        </p>
        <br><h3 class="fs-3 fw-bold mb-0">Завтраки</h3>
        <p class="lead mb-4">Самое простое, что можно адаптировать под себя. Просто готовите сразу на 2 порции. В готовую кашу можно добавить(для себя) мёд, соль, побольше сливочного масла
        </p>

<!--   Рецепт 1-->
       <div class="row featurette">
          <div class="col-md-7">
            <h3 class="fs-3 fw-bold mb-0"><br><br>🥣 Овсянка с грушей и курагой</h3><br>
            <p class="lead">Одно из самых любимых сочетаний сына. В маленькую кастрюльку наливаю воды и сразу засыпаю овсянку в холодную воду (на двоих). Пока варится каша, очищаю небольшую спелую грушу конференцию от кожуры, нарезаю кубиками и отправляю к каше. Более мелкими кубиками режу курагу (3-4 шт). Готовлю минут 10-15 на маленьком огне. Себе: добавила сливочное масло и 1 ч.л. мёда</p>
          </div>
          <div class="col-md-5">
            <img src="{{ url_for('static', filename='image/food2.jpg') }}" class="rounded float-end" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title></svg>
          </div>
        </div>
        <div>
            <br><br><h3 class="fs-3 fw-bold mb-0">Вторые блюда</h3>
            <p class="lead mb-4">Обычно я миксую тарелку из следующих категорий продуктов: мясо + овощи + углеводы (крупы/картофель/макаронные изделия)</p>
        </div>

<!--      Рецепт 2-->
        <div class="row featurette">
          <div class="col-md-5">
            <img src="{{ url_for('static', filename='image/food1.jpg') }}" class="rounded float-start" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title></svg>
          </div>
          <div class="col-md-7">
            <h3 class="fs-3 fw-bold mb-0"><br><br>🥦 Мясо с овощами и рисом</h3><br>
            <p class="lead">Рис (в порционных пакетиках), отправляем вариться, в это время уже варятся на пару брокколи и брюссельская капуста. Пока они готовились я делала фрикадельки из индейки (с запасом): Смолола в комбайне мясо + кабачок. Получился жидковатый фарш. Сформировала тефтельки и 3 отправила вариться в кастрюлю в малом количестве воды, остальное в заморозку. Хотела и себе сделать тефтели, но не успела. Вытащила тефтельки сына, закинула в бульон фарш и добавила соевого соуса</p>
          </div>
        </div>

<!--      Рецепт 2-->
        <div class="row featurette">
          <div class="col-md-7">
            <h3 class="fs-3 fw-bold mb-0"><br><br>🥦 Гуляш с картофельным пюре</h3><br>
            <p class="lead">1 среднюю картошку почистить и нарезать брусочками, сварить в небольшом количестве воды. Цветную капусту готовлю на пару. Когда картошка сварилась, сливаю всю воду и разминаю вилкой в пюре на тарелке. Замороженное пюре из тыквы и пюре из говядины довожу до кипения в кастрюльке<br><br>Себе: пожарила котлетку + посыпала сыром</p>
          </div>
          <div class="col-md-5">
            <img src="{{ url_for('static', filename='image/food5.jpg') }}" class="rounded float-end" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title></svg>
          </div>
        </div>

<!--      Рецепт 3-->
        <div class="row featurette">
          <div class="col-md-5">
            <img src="{{ url_for('static', filename='image/food3.jpg') }}" class="rounded float-start" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title></svg>
          </div>
          <div class="col-md-7">
            <h3 class="fs-3 fw-bold mb-0"><br><br><br><br>🥦 Мясо с овощами + тосты</h3>
            <p class="lead">Приготовлено на пару💨 <br>- Тефтелька из индейки и кабачка нарезанная ломтиками. Цветная капуста. Морковь<br>+1/2 желтка и вермишель<br><br>Себе: 2 котлетки с сыром, цветная капуста, морковь + 2 кусочка поджаренного хлеба. </p>
          </div>
        </div>

        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}