{% extends 'base.html' %}

{% block title %}

{% endblock %}

{% block body %}
<div class="container">
    <div class="px-4 py-5 my-5 text-left">
    <div class="col-lg-6 mx-auto">
        <h1 class="display-5 fw-bold">🥑 Готовим сами пюре для прикорма</h1><br>
        <p class="lead mb-4">Так сложились звёзды, что я его делаю сама. Сначала делала пюре это одна схема, а сейчас переходим на кусочки и все меняется. Про кусочки я лучше набью руку и напишу отдельный пост.</p>
        <h1 class="lead mb-4 fw-bold">Посуда:</h1>
        <p class="lead mb-4">
        - кастрюлька на 0.5 литров с толстым дном (чтобы все не пригорало).
        <br><br>- форма силиконовая для заморозки. Нужна именно силиконовая, чтобы удобно доставать.
        <br><br>- Пароварка для микроволновки. Она для больших объёмов. В целом не обязательна, можно заменить духовкой/либо кастрюлей побольше
        </p>
        <h1 class="lead mb-4 fw-bold">🍎 Продукты</h1>
        <p class="lead mb-4">
        🔸 1 вариант: если лето или есть огород(или у бабушки) не поленитесь сделать заготовки на зиму. Особенно я пожалела что не купила сезонные сливы, персики, абрикосы

        <br><br>🔸 2 вариант: есть уже готовые замороженные овощи. Если подобрать нужную фирму, то из них очень быстро делается прикорм. Найти можно все брокколи/тыкву/цветную капусту и тд.
        </p>
        <h1 class="lead mb-4 fw-bold">👩‍🍳 Приготовление:</h1>

        <h1 class="lead mb-4 fw-bold">🥦 Овощи/фрукты</h1>
        <p class="lead mb-4">
        Пюре можно готовить на 1 раз, либо замораживать. В Ютубе есть сотни видео, как люди заготавливают прикорм, но принцип везде один. Я расскажу краткие принципы.
        </p>
        <h1 class="lead mb-4 fw-bold">Термическая обработка:</h1>
        <p class="lead mb-4">
        Варим/запекаем/готовим на пару в микроволновке или пароварке.

        <br><br>Тыква/яблоко/груша проще всего запекать в духовке ≈30-40 мин на 180 гр. Так вкуснее и быстрее. Яблоки берите сладких сортов, не берите зелёные, а груша должна быть максимально спелой.

        <br><br>Кабачок/брокколи/морковь/ свёкла отлично готовятся в микроволновке на пару или даже в обычном контейнере. Ну или просто сварить в кастрюле.

        <br><br>Цветную капусту лучше варить в воде и обязательно слить всю воду (может горчить)
        </p>
        <h1 class="lead mb-4 fw-bold">🥩 Мясо:</h1>
        <p class="lead mb-4">
        Нарезаете на небольшие кусочки. Кладете в холодную воду, доводите до кипения, сливаете первый бульон и варите во втором.
        <br><br>Может возникнуть вопрос какое мясо брать? Если не знаете производителей - готовьте индейку. Индейка птица, которая не переносит антибиотики. Тут вы не ошибаетесь.
        </p>
        <h1 class="lead mb-4 fw-bold">Пюрированние:</h1>
        <p class="lead mb-4">
        Лучше всех тут справился блендер в виде стакана (как для смузи). После него идет погружной. Все что с ножами отвратительно перемалывает (типо измельчители). У меня комбайн, потому я успела поэкспериментировать 😅
        Чтобы продукт промололся качественно добавляйте разумное количество кипяченой воды, добавляйте по чуть-чуть пока пюре не станет однородными.
        Далее раскладываем в силиконовую форму для заморозки. Накрываем пакетиком и в морозилку. Потом я достаю из формы "шайбочки" и перекладываю их в зип-пакет. Не заготавливайте слишком много, хоть и сроки хранения такого пюре указывают достаточно длительным, лучше постоянно обновлять свои заготовки. Для этого просто готовьте за раз не более 1-2 продуктов, чтобы по итогу объем приготовленного за раз блюда не превышал ту самую силиконовую форму.

        <br><br>А потом все просто - достали мясо + овощ разогрели в микроволновке до нужной температуры (обычно не более 30 секунд) и добавляю 0.5 чл оливкового масла. Все 👌
        Чтобы была возможность брать прикорм с собой заморозьте часть в баночках от прикорма.

        <br><br>Если готовите на 1 раз. То варите необходимые овощи в маленькой кастрюле и в ней же пробивайте погружным блендером.
        </p>
        <h1 class="lead mb-4 fw-bold">🥣 Каши</h1>
        <p class="lead mb-4">
        Тут посложнее. Нужно хорошо промыть гречку/рис, просушить в духовке и смолоть в кофемолке, засыпать в герметичный контейнер.
        Далее берете 1 ч.л. курупы, заливаете 100/150 гр холодной воды и только потом включаете плиту на самый минимум и накрываете крышкой. Варить после закипания минут 15 периодически помешивая. Можно добавить грудное молоко, но тогда вы делаете кашу покруче, а в конце , когда уже снимете с огня, добавляете грудное молоко.
        Я часто к кашам добавляла овощное пюре.

        <br><br>Если придерживаться принципам выше, то готовить пюре не так уж сложно.
        А вот сейчас больше готовлю на один раз, потому что мну вилкой. Да и готовлю уже более сложные блюда. Об этом расскажу позже.</p>
        </p>


        <h1 class="lead mb-4 fw-bold"></h1>
        <p class="lead mb-4"></p>
    </div>

  </div>
</div>
{% endblock %}